
header{
    height: 250px;
    text-align: center;
    font-size: large;
    font-weight: 800;
    color: azure;
    background-image: url(../Images/pic1.jpg);
    background-size: contain;
}
h1{
    color:red;
    background-color:blue;
    width: 100%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}
h5{
    border: 20px solid blue;
    border-radius:5%;
    width: 5%;
    margin: 20px;
}
#ten{
    color:white;
    background-color:skyblue;
}

.forward{
    color: darkblue;
}
/* li#eight{
    color: red;
} */
li.mid{
    color: white;
    background-color: black;
}
/* ol li{
    color: red;
    background-color: blue;
} */
nav{
   background-color: transparent;
}
.flex{
    display: flex;
}
.nav{
    list-style: none;
    color: aqua;
    padding: 10px;
    text-decoration: none;
}
nav li:hover{
    background-color: yellowgreen;
    display: block;

}
.dd{
    display: none;
}
nav li:hover .dd{
    display: block;
}
.blue{
    text-decoration: none;
}
body{
    background-color: rgb(217, 215, 230);
}